<!DOCTYPE html><html><head><title>Using the Office UI Fabric with Angular JS to Create an Office Add-In</title></head><body>
<h1>Using the Office UI Fabric with Angular JS to Create an Office Add-In</h1><p><a href="http://www.itunity.com/article/office-ui-fabric-angular-js-create-office-addin-2570" target="_new">Original URL</a></p>
<p><blockquote>Angular is such a popular JavaScript framework because it provides an elegant structure for creating enterprise applications using a programming language that was never designed for such a thing.&hellip;</blockquote></p>
<div><div class="descrpt"><p><a href="https://angularjs.org/" target="_blank">Angular</a> is such a popular JavaScript framework because it provides an elegant structure for creating enterprise applications using a programming language that was never designed for such a thing. When developers build applications with Angular, they often couple it with the <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> framework to easily take advantage of pre-canned styles and components. The Angular team has also created several directives that combine Angular and Bootstrap into <a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> components. Together, these frameworks give you the ability to create beautiful and functional applications using HTML5, CSS3, and JavaScript. As proof, figure 1 shows an application <a href="http://wrapbootstrap.com/preview/WB055J451" target="_blank">theme</a> that I used recently. Pause and enjoy the beauty.</p>
<p><span class="contentimage ">
<a href="http://www.itunity.com/content/content/2570/angular-bootstrap-1.png" title="Angular-bootstrap-1" class="imagecaption">
<img src="http://www.itunity.com/content/content/2570/angular-bootstrap-1.png?w=550" alt="Angular and Bootstrap let you create beautiful and functional applications using HTML5, CSS3, and JavaScript">
</a>
</span></p>
<p><em>Figure 1, Angular and Bootstrap make beautiful and functional applications</em></p>
<p>When developing add-ins for Office and SharePoint, I typically use the Bootstrap styles and components. While this approach gives me all the benefits stated previously, it does present some challenges matching the standard look and feel of the Office suite. The problem for developers is that the UI components that are part of the Bootstrap world were not created with Office and SharePoint in mind. Consequently, your add-in may look good, but it may also give the user that vague feeling that it doesn&#x2019;t quite fit. What we really need are styles and components that offer the beauty and ease of Bootstrap, work well with Angular, and fit nicely into Office and SharePoint. Fortunately, Microsoft has answered our needs with the <a href="https://github.com/OfficeDev/Office-UI-Fabric" target="_blank">Office UI Fabric</a>.</p>
<h2>Introducing the Office UI Fabric</h2>
<p>Last month the Office team <a href="https://blogs.office.com/2015/08/31/introducing-office-ui-fabric-your-key-to-designing-add-ins-for-office/" target="_blank">announced</a> the release of the Office UI Fabric for general availability. The Office UI Fabric is a responsive, mobile-first, front-end framework for developers creating solutions for Office and SharePoint. The framework consists of styles and components that give your applications the same look and feel as Office and SharePoint. In short, it&#x2019;s Bootstrap for Office and SharePoint.</p>
<p>The Office UI Fabric defines 10 base <a href="https://github.com/OfficeDev/Office-UI-Fabric/blob/master/ghdocs/FEATURES.md#typography" target="_blank">font classes</a> that represent the typography used throughout Office and SharePoint. Each base class uses the Segoe UI font and varies by size. There are also several helper font classes that alter the text weight.</p>
<p>9 different <a href="https://github.com/OfficeDev/Office-UI-Fabric/blob/master/ghdocs/FEATURES.md#color" target="_blank">themes</a> are defined, making it easy to create a consistent feel in your application. Along with custom icons and animations, look and feel is easy. The Office UI Fabric also provides localization support with right-to-left (RTL) styles and language-optimized fonts.</p>
<p>Just like Bootstrap, the Office UI Fabric also defines a 12-column, <a href="https://github.com/OfficeDev/Office-UI-Fabric/blob/master/ghdocs/FEATURES.md#responsive-grid" target="_blank">responsive grid</a> structure. The grid defines row and column styles just like Bootstrap. The grid is also responsive so you can use classes to define how it should change as the device size changes. Again, this is exactly like the Bootstrap grid, but made for Office and SharePoint.</p>
<p>The Office UI Fabric includes 26 <a href="https://github.com/OfficeDev/Office-UI-Fabric/tree/master/dist/components" target="_blank">components</a> like menus, breadcrumbs, buttons, tables, and cards. Each component consists of some template HTML and a style sheet. Generally, you can use the components by simply copying the HTML into your project. You can review the complete <a href="https://msdn.microsoft.com/EN-US/library/mt484317.aspx" target="_blank">Office Add-In Design Guidelines</a> online to ensure consistency. Figure 2 shows a sample dialog box with a clean, consistent look. My only disappointment is that I wish the components came packaged as Angular directives. Looks like that is a good opportunity for a community project.</p>
<p><span class="contentimage ">
<a href="http://www.itunity.com/content/content/2570/office-ui-fabric-dialog-box-2.png" title="office-ui-fabric-dialog-box-2" class="imagecaption">
<img src="http://www.itunity.com/content/content/2570/office-ui-fabric-dialog-box-2.png?w=300" alt="Office UI Fabric dialog box">
</a>
</span></p>
<p><em>Figure 2, A sample Office UI Fabric dialog box</em></p>
<h2>Using the Office UI Fabric</h2>
<p>Using the Office UI Fabric in your Office and SharePoint development is straightforward. As an example, I created an Outlook add-in that allows a user to pick from a list of &#x201C;quick responses&#x201D; when answering an e-mail. The add-in is built using the Angular framework with the set of quick responses maintained in a SharePoint online list. Figure 3 shows the responses surfaced when the user responds to an e-mail. Notice how the look and feel fits right in with Outlook.</p>
<p><span class="contentimage ">
<a href="http://www.itunity.com/content/content/2570/outlook-add-in-using-office-ui-fabric-3.png" title="outlook-add-in-using-office-ui-fabric-3" class="imagecaption">
<img src="http://www.itunity.com/content/content/2570/outlook-add-in-using-office-ui-fabric-3.png?w=550" alt="Outlook add-in created using the Office UI Fabric">
</a>
</span></p>
<p><em>Figure 3, An Outlook add-in utilizing the Office UI Fabric</em></p>
<p>After creating the initial Outlook add-in project in Visual Studio 2015, I reworked the structure a bit to introduce the Angular framework along with the <a href="http://www.cloudidentity.com/blog/2015/02/19/introducing-adal-js-v1/" target="_blank">Active Directory Authentication Library for JavaScript</a> (adal.js). This allowed me to assign my Outlook add-in permissions in Azure Active Directory for accessing the SharePoint online list where the quick responses are maintained. This article is not intended to be a primer on adal.js, but you can get up to speed by reading my <a href="http://www.itunity.com/article/started-adaljs-office-365-apis-2144" target="_blank">previous article</a> on the subject. Additionally, the complete source code for this article is available in the IT Unity <a href="https://github.com/ITUnity/dev/tree/master/QuickResponses" target="_blank">repository</a>.</p>
<p>Once the basic add-in structure was complete, I added the references to the Office UI Fabric. The styles are available from a content delivery network (CDN) link. The components, however, must be copied from the raw HTML in the OfficeDev <a href="https://github.com/OfficeDev/Office-UI-Fabric/tree/master/dist/components" target="_blank">repository</a>.</p>

<pre class="prettyprint">&lt;link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.min.css"&gt;
&lt;link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css"&gt;</pre>

<p>I used the styles, responsive grid, and button component in my Outlook add-in. The experience was similar to using Bootstrap, except the documentation on GitHub for the Office UI Fabric is not nearly as complete as for Bootstrap. Nonetheless, I was able to create the simple interface shown in Figure 3 without too much difficulty. The code in listing 1 shows the HTML for the user interface.</p>
<p>Listing 1, A simple Office UI Fabric interface</p>

<pre class="prettyprint">&lt;div class="ms-fontColor-themeDarker" style="margin:5px;"&gt;
 &lt;div class="ms-font-s-plus"&gt;{{message}}&lt;/div&gt;
 &lt;div class="ms-font-s-plus" style="padding-bottom:5px;"&gt;
 Select a quick response from the choices below:
 &lt;/div&gt;
 &lt;div data-ng-hide="!workingOnIt"&gt;Retrieving quick responses...&lt;/div&gt;
 &lt;div class="ms-Grid"&gt;
 &lt;div class="ms-Grid-row" data-ng-repeat="response in responses" style="padding-bottom:5px;"&gt;
 &lt;div class="ms-Grid-col ms-u-sm6 ms-u-md8 ms-u-lg10"&gt;
 &lt;div class="ms-font-m ms-fontWeight-semibold"&gt;
 {{response.Title}}
 &lt;/div&gt;
 &lt;/div&gt;
 &lt;div class="ms-Grid-col ms-u-sm6 ms-u-md4 ms-u-lg2"&gt;
 &lt;button class="ms-Button ms-Button--primary"
 data-ng-click="insertResponse(response.Title)"&gt;
 &lt;span class="ms-Button-label"&gt;Respond!&lt;/span&gt;
 &lt;/button&gt;
 &lt;/div&gt;
 &lt;/div&gt;
 &lt;/div&gt;
&lt;/div&gt;</pre>

<h2>Conclusions</h2>
<p>My first experience with the Office UI Fabric was a good one. I found the styles and components easy to use and would recommend them to Office and SharePoint developers. The framework would benefit from some additional documentation and samples as well as the development of Angular directives. For a first release, however, the framework seems solid. Developers should begin to use it immediately for Office and SharePoint development.</p></div></div>
</body></html>
